.navbar{
    display:flex;
    justify-content: center;
    background-color: rgb(21, 18, 13);
    align-items: center;
    color: white;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    display: flex;
    gap:20px;
}
.nav-links a{
    color:#fff;
    text-decoration: none;
    font-weight: 500;
}
.nav-links a:hover{
    text-decoration: underline;
}